.App {
  overflow: hidden !important;
}
.fixed-top {
  padding: 20px 0;
}
.styles_scroll-to-top__2A70v {
  z-index: 9999;
}
/* Header Section */
.navbar-light .navbar-nav .nav-link {
  color: #2b235b !important;
  font-size: 18px;
  margin: 0 10px;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #12bf7c !important;
}
.dropdown-item:focus,
.dropdown-item:hover {
  color: #1e2125;
  background-color: #12bf7c;
}
.dropdown-menu {
  border: none;
  min-width: 200px !important;
  margin-top: 32px !important;
}
/* Header Section */
.stellarnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stellarnav>ul{
  display: inline-block;
}
.stellarnav>ul>li a{
  color: #2b235b !important;
  font-size: 15px;
  font-weight: 600;
  padding: 12px 25px;
}
.stellarnav>ul>li a:hover {
  color: #12bf7c !important;
}
.stellarnav .dropdown a:hover {
  color: #12bf7c !important;
  
}
.dropdown a:focus,
.dropdown a:hover {
  color: #1e2125;
}
.dropdown>li a{
  color: #ddd !important;
}
.stellarnav li.has-sub > a:after {
  border-top: 6px solid #1e2125;
}
.stellarnav ul ul {
  background: #fff;
  box-shadow: 0px 15px 36px 4px rgb(79 35 35 / 10%);
  padding: 10px;
}
/* Hero Section */

.heroSection {
  position: relative;
  margin-top: 70px;
  height: 1050px;
}
.introBar {
  background-color: rgba(39, 39, 39, 0.082);
  display: inline-block;
  padding: 3px 13px;
  border-radius: 20px;
  margin-top: 130px;
}
.introBar p {
  display: inline-block;
  font-size: 12px;
  padding: 0px 10px;
  border-radius: 20px;
}
.text-theme-shape {
  padding: 3px 10px;
  border-radius: 20px;
}
.heading-text {
  margin-top: 42px;
}
.heading-text .text-1,
.heading-text .text-2 {
  font-size: 70px;
}

.heading-text .text-2 {
  margin-top: 22px !important;
  font-weight: 700;
}
.bannner-bg {
  position: relative;

  top: 0;
  left: 0;
}
.bannner-bg .ball {
  position: absolute;
  left: -13px;
  top: -271px;
  animation-name: roundShape 2s linear 1s alternate-reverse;
}

.bannner-bg .shape {
  position: absolute;
  left: 496px;
  top: 460px;
}
.imageSection {
  /* position: relative; */
  /* right: -55px; */
}
.imageSection .mobile {
  position: relative;
}
.circle-bg {
  position: absolute;
  border-radius: 50%;
  height: 1052px;
  width: 184%;
  top: -28%;
  right: -42%;
  z-index: -1;
  background: #fdf5e8;
}
.leftFlower,
.rightFlower {
  position: absolute;
}
.leftFlower {
  left: 21px;
  z-index: -1;
  bottom: 253px;
  width: 20%;
}
.rightFlower {
  right: 72px;
  bottom: 253px;
  z-index: -1;
  width: 18%;
}
.dot {
  position: absolute;
  top: -62px;
}

/* What we Do */

.what-we-do-text h4 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 3px;
}

.home-items-card {
  position: relative;
  transition: all 0.4s linear;
}
.home-items-card:hover {
  transform: translateY(-20px);
}
.home-items-card .wrap {
  text-align: center;
  padding: 35px 25px;
  box-shadow: 0px 20px 60px 0px rgb(1 51 32 / 10%);
  border-radius: 5px;
  background: #fff;
}
.home-items-card h2 {
  font-weight: 600;
}
/* SELECTED WORKS */
.Home_Selected_Work {
  margin-top: -150px;
  z-index: -9;
  /* max-width: 1290px !important; */
}
.Home_Selected_Work .Home_Selected_Work_container {
  min-height: 960px;
  border-radius: 10px;
}
.Home_Selected_Work .container .row {
  padding-top: 300px;
}
.Home_Selected_Work .my-btn-primary {
 cursor: pointer;
}
.dotImg {
  top: -28px;
  right: -42px;
  z-index: 9;
}
.selectedAppImg {
  z-index: 999;
}
.theme-primary-outline-bg {
  background-color: #ffffff;
  color: #12bf7c !important;
}
.selectedAppImg {
  /* transition: all 0.5s linear; */
  position: relative;
}

/* Home_section_part_1 */

.Home_section_part_1 .app-download-image {
  background-color: #0899613f;
  border-radius: 50%;
  width: 500px;
  height: 500px;
}
.Home_section_part_1 .my-btn-primary {
  padding: 5px 15px;
}
.Home_section_part_1 .app-download-image > img {
  margin-top: -12px;
}
.Home_section_part_1 ul > li {
  margin-top: 10px;
  margin-left: 5px;
  font-size: 15px;
  font-weight: 600;
}
.my-btn-primary .btn-two {
  display: block;
}

/* Home_join_section */

.Home_join_section {
  margin-top: 150px;
  border-radius: 10px;
  min-height: 576px;
  background-color: #d9e6ff;
  position: relative;
  overflow: hidden;
}
.Home_join_section p {
  margin-top: 20px;
  font-size: 18px;
  color: #76747f;
}
.Home_join_section .my-btn-primary {
  background-color: #1a133b;
  border: none;
  padding: 5px 15px;
}
.Home_join_section .my-btn-primary:hover {
  background-color: #12bf7c;
  color: #fff;
  border: none;
}
.Home_join_section .Home_join_section_Img_1 {
  position: absolute;
  top: -5px;
  left: 73px;
}
.Home_join_section .Home_join_section_triangle {
  position: absolute;
  top: 57px;
  right: 73px;
}
.Home_join_section .Home_join_section_Img_2 {
  position: absolute;
  top: 461px;
  right: 73px;
}
.Home_join_section .img_2 {
  left: 197px;
  top: 131px;
}

/* Home_Team */
.Home_Team .imageTeam {
  position: relative;
  overflow: hidden;
}
.Home_Team .imageTeam::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 99;
  background: #12bf7c;
  transition: all 0.3s linear !important;
}
.Home_Team .imageTeam:hover::before {
  opacity: 0.9;
}
.Home_Team .imageTeam:hover ul {
  /* bottom: 42px; */
  transform: translateY(0px);
  transition: all 0.3s linear !important;
}
.Home_Team .imageTeam:hover ul li {
  /* bottom: 42px; */
  transform: translateY(0px);
}
.Home_Team ul {
  bottom: 30px;
  left: 30px;
  padding-top: 20px;
  z-index: 999;
  overflow: hidden;
}
.Home_Team ul > li {
  display: inline-block;
  padding: 0 4px;
  font-size: 20px;
  transform: translateY(25px);
  transition: 0.3s ease-in-out;
}
.Home_Team ul > li:nth-child(2) {
  transition-delay: 0.1s;
}
.Home_Team ul > li:nth-child(3) {
  transition-delay: 0.2s;
}
.Home_Team ul > li:nth-child(4) {
  transition-delay: 0.3s;
}
.Home_Team ul > li > a {
  color: #ffffff;
}

/* Home_Patner */

.Home_Patner {
}
.Home_Patner img {
  margin: 0 60px;
}

/* Page Info */

.Page_Info {
  margin-bottom: 100px;
  background-color: #fdf8f8;
}
.Page_Info h2 {
  margin-top: 220px;
  margin-bottom: 50px;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  z-index: 9;
  position: relative;
}
.Page_Info .shape {
  position: absolute;
  top: -570px;
  left: -313px;
}
.Page_Info .animationPoint {
  background-color: #12bf7c;
  position: relative;
  /* margin-top: 200px; */
}
.Page_Info .animationPoint ul > li:nth-child(1) {
  top: 102px;
  left: 142px;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #12bf7c1f;
  animation: pageBall 1.5s infinite alternate;
}

@keyframes pageBall {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.5);
  }
}
.Page_Info .animationPoint ul > li:nth-child(2) {
  top: 150px;
  right: 212px;
  border-radius: 50%;
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: #12bf7c1f;
  animation: pageBall2 2s infinite alternate;
}

@keyframes pageBall2 {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.5);
  }
}
.Page_Info .animationPoint ul > li:nth-child(3) {
  top: 236px;
  right: 750px;
  border-radius: 50%;
  position: absolute;
  width: 42px;
  height: 42px;
  background-color: #12bf7d67;
  z-index: 1;
  animation: pageBall3 4s linear infinite alternate;
}

@keyframes pageBall3 {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(230px);
  }
}

/* About_BusinessHistory */

.About_BusinessHistory p {
  text-align: justify;
}

/* About_OurService */
.About_OurService .myCardItem {
  position: relative;
  overflow: hidden;
}
.About_OurService .myCardItem {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 45px 25px;
  transition: all 0.2s linear;
}
.About_OurService .myCardItem:hover {
  box-shadow: -2px 0px 30px #c1c1c1, 9px 9px 26px #ffffff;
  border-radius: 10px;
}
.About_OurService .FaArrowRight {
  font-size: 20px;
}
.About_OurService .svgFile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -2;
  transform: translateY(-250px);
  transition: all 0.2s linear;
}

.About_OurService .myCardItem:hover .svgFile {
  transform: translateY(0);
}
.About_CountZone col:nth-child(1) {
  margin-top: 50px;
  color: #1ef317 !important;
}

/* About_Testimonial */

.About_Testimonial {
  background-color: #fdf8f8;
  overflow: hidden;
}
.About_Testimonial .testimonialSlider {
  width: 500px;
  background: #ffffff;
  border-radius: 10px;
  margin: 0 30px;
  padding: 30px 50px 0px 50px;
}
.About_Testimonial .testimonialSlider p {
  text-align: justify;
}
.About_Testimonial .quote {
  text-align: end;
  position: relative;
  bottom: -5px;
}
.About_Testimonial .marquee-container {
  overflow: hidden;
}
.ratePoint {
  color: #ffbc08;
  position: relative;
  bottom: -10px;
  font-size: 20px;
}

/* About_OverFlow */

.About_OverFlow {
  margin-top: 100px;
  background-image: linear-gradient(100deg, #fa7070 0%, #fa9770 100%);
}
.About_OverFlow .wrap {
  position: relative;
  z-index: 99;
}
.About_OverFlow .my-btn-primary-outline {
  padding: 14px 42px;
  color: #1d2146;
}

.About_OverFlow .shape > img {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

/* Blog */

.Blog_pagination .my-btn-primary {
  color: #fff;
  background: #12bf7c;
  padding: 10px 18px;
}
.Blog_pagination .my-btn-primary:hover {
  color: #12bf7c;
  background: #fff;
  padding: 10px 18px;
}
.Blog_pagination span {
  margin-right: 10px;
}

/* SideBar */

.search-form label {
  margin: 0;
  width: 100%;
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  word-wrap: normal !important;
}
.search-form .search-field {
  background: transparent;
  padding: 19px 10px 19px 30px;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  border-radius: 45px;
  width: 100%;
  border: 1px solid #efe7e7;
  transition: all 0.3s ease-in-out;
}
.search-form .search-field:focus {
  box-shadow: 0px 20px 40px 0px rgb(79 35 35 / 10%);
}

.search-form button {
  position: absolute;
  border: 0;
  background-color: #c7272700;
  color: #9e9c97;
  outline: 0;
  padding: 0;
  top: 31px;
  right: 37px;
  transform: translateY(-50%);
  font-size: 20px;
}
.postRecent img {
  width: 80%;
  border-radius: 10px;
}
.postRecent p {
  margin-top: 10px;
  font-size: 15px;
}
.Categories li {
  margin: 3px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #afafaf31;
}
.Categories li a {
  color: #76747f;
  font-size: 16px;
}
.Categories li a:hover {
  color: #12bf7c;
}
.Popular_Tags .my-btn-primary {
  padding: 9px 17px;
  border-radius: 20px;
}
.Popular_Tags .wrap a {
  margin: 3px 5px 4px 0px;
  display: inline-block;
}

/* Blog_Single_Data */

.Blog_Single_Data {
}
.Blog_Single_Data .imageFile img {
  width: 750px;
}
.Blog_Single_Data h2 {
  margin: 0 auto 15px;
}
.Blog_Single_Data .Popular_Tags .my-btn-primary {
  padding: 6px 15px;
  border-radius: 20px;
}
.Blog_Single_Data .iconBox a {
  font-size: 25px;
  color: #76747f;
}
.Blog_Single_Data .iconBox a:hover {
  color: #1a133b;
}

/* Service */

.Service_part_1 {
}
.Service_part_1 .part_1 .wrap {
  position: relative;
}
.Service_part_1 .part_1 .shape {
  position: absolute;
  top: 50%;
  left: 42%;
  transform: translate(-50%, -50%);
}
.Service_part_1 .part_1 .shape a {
  font-size: 50px;
  color: #ff0000;
}
.Service_part_1 .part_3 .wrap {
  padding: 5px 30px;
}
.Service_part_1 .part_3 h2:hover {
  color: #12bf7c;
}
.Service_Price_plan {
  background-color: #fdf8f8;
  min-width: 600px;
}
.Service_Price_plan .listItem p {
  font-size: 16px;
  padding: 10px 0;
  margin-left: 10px;
}
.Service_Price_plan .listItem .right {
  color: #12bf7c;
  margin-right: 10px;
}
.Service_Price_plan .listItem .wrong {
  color: #fa7070;
  margin-right: 10px;
}
.Service_Price_plan .my-btn-primary {
  padding: 10px 18px;
}
.Service_Price_plan .part_2 .col-md-4:nth-child(1),
.Service_Price_plan .part_2 .col-md-4:nth-child(2) {
  padding-top: 30px;
  padding-right: 40px;
  padding-left: 40px;
  border-right: 1px solid #ddd;
}
.Service_Price_plan .part_2 .col-md-4:nth-child(3) {
  padding-top: 30px;
  padding-right: 40px;
  padding-left: 40px;
}
.slider .imgSection .ImgFile {
  position: absolute !important;
  left: 0;
  top: -26px;
}
.slider .imgSection {
  width: 85%;
}
.jRFJkP:hover:enabled,
.jRFJkP:focus:enabled {
  color: #fff;
  background-color: #12bf7c !important;
  box-shadow: 0 0 2px 0 rgba(51, 51, 51, 0);
}
.jRFJkP {
  background-color: #12bf7d1a !important;
  color: rgb(0, 0, 0) !important;
}
.lcUbOd {
  background-color: #12bf7c !important;
  box-shadow: 0 0 1px 3px #12bf7c !important;
}
.subscriber {
  position: relative;
  z-index: 9;
  overflow: hidden;
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: linear-gradient(100deg, #fa7070 0%, #fa9770 100%);
}
.subscriber .col {
  margin: auto 120px auto 120px;
}
.formControl {
  display: inline;
  width: 40%;
  height: 65px;
  border-radius: 40px;
  padding: 2px 30px;
  background-color: #fa797000;
  color: #ddd;
  border: 1px solid #dddddda1;
}
.form-control:focus {
  color: #212529;
  background-color: #fff0;
  border: 1px solid #dddddda1;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
}
.subscriber .my-btn-primary {
  color: #fa7570;
  padding: 18px 45px;
  border-radius: 50px;
  background-color: #ffffff;
  border-color: #ffffff;
  margin-left: 15px;
}
.subscriber .my-btn-primary:hover {
  color: #ffffff;
  background-color: #fa757000;
  border-color: #ffffff;
}
.subscriber .shape {
  position: absolute;
  position: absolute;
  top: -146px;
  left: -539px;
  z-index: -9;
}

/* pricing */

.price_info {
  /* margin-top: 100px; */
}
.price_info .wrap {
  padding: 0 265px;
}
.toggleBar {
  margin-top: 70px;
  margin-bottom: 70px;
}
.toggleBar span {
  font-size: 16px;
  font-weight: 600;
  margin-right: 10px;
}

.pricing-tab-switcher {
  width: 114px;
  height: 47px;
  background: #dddddd0a;
  position: relative;
  border: 1px solid #ddd;
  display: inline-block;
  border-radius: 50px;
  cursor: pointer;
  transform: translateY(16px);
}
.pricing-tab-switcher::before {
  position: absolute;
  width: 35px;
  height: 35px;
  display: inline-block;
  background: #12bf7c;
  content: "";
  border-radius: 50px;
  top: 5px;
  left: 7px;
  transition: all 0.3s linear;
  box-shadow: 0px 11px 30px 0px rgb(18 191 124);
}
.pricing-tab-switcher.active::before {
  left: 71px;
}
.pricing {
  background: rgba(221, 221, 221, 0);
}

.pricing_part_2 .part_2 .wrap {
  transition: all 0.2s linear;
  background: #fcf7f7;
  border-radius: 10px;
  padding: 30px;
  transition: all 0.3s linear;
}
.pricing_part_2 .part_2 .wrap:hover {
  background: #fff;
  box-shadow: 0px 40px 80px 0px rgb(43 35 79 / 14%);
}

.Service_Price_plan.pricing_part_2 .part_2 .col-md-4:nth-child(1),
.Service_Price_plan.pricing_part_2 .part_2 .col-md-4:nth-child(2),
.Service_Price_plan.pricing_part_2 .part_2 .col-md-4:nth-child(3) {
  padding-top: 0px;
  padding-right: 20px;
  padding-left: 20px;
  border-right: 1px solid rgba(221, 221, 221, 0);
}
/* Faq  */

.Faq_data {
  height: auto;
  margin-bottom: 100px;
}
.Faq_data .nav{
 position: unset;
}
.Faq_data .nav-link {
  display: inline;
  font-size: 18px;
  padding: 10px 15px;
  margin: 0 10px;
  border-radius: 10px;
  color: #1a133b;
  cursor: pointer;
}
.Faq_data .nav-link.active {
  display: inline;
  font-size: 18px;
  padding: 10px 15px;
  background: rgb(37, 37, 37);
  margin: 0 10px;
  border-radius: 10px;
  color: #12bf7c;
  cursor: pointer;
}
.Faq_data .nav-tabs {
  margin: 0 10px;
  border-radius: 10px;
  color: #12bf7c;
  cursor: pointer;
  justify-content: center;
  margin-bottom: 80px;
}
.Faq_data .accordion {
  padding: 0 200px;
}
.Faq_data .accordion-body {
  text-align: left !important;
  font-size: 16px;
  color: #76747f;
}
.Faq_data .accordion-button {
  font-size: 18px;
  font-weight: 500;
}
.Faq_data .accordion-item {
  margin-top: 10px;
  border: 0px solid rgba(0, 0, 0, 0.125);
}
.Faq_data .accordion-button:not(.collapsed) {
  color: #fff;
  background-color: #12bf7c;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.Faq_data .nav-tabs {
  border-bottom: 1px solid #dee2e600;
  padding-bottom: 60px;
}
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: #e9ecef #e9ecef #dee2e6;
  isolation: unset;
  border-radius: 10px;
}

/* portfolio */

.portfolio_data {
  margin-top: 100px;
}
.portfolio_data .part_1 p {
  display: inline-block;
  margin: 10px 15px;
  background: #12bf7c;
  padding: 10px 15px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}
.portfolio_data .wrap {
  position: relative;

  margin: 15px 10px;
}

.portfolio_data .wrap img {
  border-radius: 10px;
}
.portfolio_data .part_2 .wrap .overFlow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #12bf7d00;
  transition: all 0.2s linear;
  border-radius: 10px;
}
.portfolio_data .part_2 .wrap:hover .overFlow {
  background: #12bf7dcc;
}
.portfolio_data .part_2 .text {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  width: 100%;
  z-index: 99;
  opacity: 0;
  transition: all 0.4s linear;
}
.portfolio_data .part_2 .wrap:hover .text {
  opacity: 1;
}
.portfolio_data .part_1 p:hover {
  background: #1a133b;
  color: #fff;
}

.error {
}
.error img {
  margin-top: 85px;
}
.error .mb-190 {
  margin-bottom: 80px;
}
.contact_Form .part_1 {
}
.contact_Form .form-control {
  /* width: 49%;
  display: inline-block !important; */
  padding: 15px 20px;
  border-radius: 15px;
}

/* Footer */
.footer {
  background-color: #1d2146;
  min-height: 430px;
  position: relative;
}
.footer .social_icon ul > li {
  display: inline-block;
  margin-right: 10px;
  font-size: 20px;
}
.footer .social_icon ul > li > a {
  color: #12bf7c;
}
.footer .social_icon ul > li > a:hover {
  color: #fff;
}
.footer .secondPart a {
  color: #ddd;
  position: relative;
}
.footer .secondPart a:hover {
  color: #12bf7c;
  position: relative;
}
.footer .secondPart a::after {
  position: absolute;
  content: "";
  display: block;
  bottom: -1px;
  height: 2px;
  left: 0;
  width: 100%;
  transform-origin: right center;
  transform: scale(0, 1);
  transition: transform 0.25s cubic-bezier(0.37, 0.31, 0.2, 0.85),
    -webkit-transform 0.25s cubic-bezier(0.37, 0.31, 0.2, 0.85);
  color: #12bf7c;
  border-bottom: 2px solid #12bf7c;
}
.footer .secondPart a:hover::after {
  transform-origin: left center;
  transform: scale(1, 1);
}
.footer .Newsletter p {
  text-align: justify;
}
.footer hr {
  color: #ddd;
}
.colorSpiner .wrap{
  background-color: #2a2a2a;
  width: 260px;
  height: 100px;
  position: fixed;
  top: 156px;
  right: 0;
  padding: 15px 20px;
  z-index: 999999;
}
.colorSpiner .myWrap{
  display: flex;
}
.colorSpiner h3{
  font-size: 20px;
  margin-top: 10px;
  color: #ddd;
}
.colorSpiner .block{
  background-color: #fa7570;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  cursor: pointer;
}
.colorSpiner .block:last-child{
  margin-right: 0px;
}
.colorSpiner .IndianRed{
  background-color: #CD5C5C;
}
.colorSpiner .HotPink{
  background-color: #FF69B4;
}
.colorSpiner .HotPink{
  background-color: #FF69B4;
}
.colorSpiner .Tomato{
  background-color: #FF6347;
}
.colorSpiner .Magenta{
  background-color: #FF00FF;
}
.colorSpiner .green{
  background-color: #12bf7c;
}
