

@media only screen and (max-width: 600px) {
  .navbar-nav {
    /* text-align: center; */
  }
  .navbar-collapse .my-btn-primary {
    margin-left: 0px !important;

  }
  .navbar-nav{
      margin-bottom: 20px;
  }
  .navControl{
      padding-bottom: 25px;
  }
  .bannner-bg .ball {
    display: none;
  }
  .introBar {
    margin-top: 40px;
  }
  .heading-text .text-1,
  .heading-text .text-2 {
    line-height: 0px;
    font-size: 36px;
  }
 .heroSection .my-btn-primary,
 .Home_Selected_Work_container .my-btn-primary {
    padding: 10px 24px;
    display: block;
  }
  .imageSection {
    position: absolute;
    right: 0;
  }
  .home-items-card .wrap {
    margin-bottom: 50px;
  }
  .Home_Selected_Work .container .row {
    padding-top: 200px;
  }
  .dot {
    position: absolute;
    top: -389px;
    left: 204px;
  }
  .leftFlower {
    left: -15px;
  }
  .rightFlower {
    right: -9px;
  }
  .Home_Selected_Work_container .button_2 {
    margin-top: 20px;
  }
  .Home_Selected_Work_container .dotImg {
    display: none;
  }
  .home-items-card:hover {
    transform: translateY(0);
}
  .selectedAppImg {
    margin-top: 30px;
  }
  .Home_Selected_Work .Home_Selected_Work_container {
    min-height: 841px;
  }
  .Home_section_part_1 .mt-200 {
    margin-top: 120px;
  }
  .Home_section_part_1 .app-download-image {
    background-color: rgba(221, 221, 221, 0);
    border-radius: 0%;
    width: auto;
    height: auto;
  }
  .Home_section_part_1 .mt-150 {
    margin-top: 70px;
  }
  .Home_section_part_1 .part_2 {
    order: 2;
  }
  .Home_join_section h2 {
    font-size: 40px;
  }
  .Home_Team .mt-150 {
    margin-top: 70px;
  }
  .Home_Team .myCardTeam {
    margin-top: 40px;
  }
  .Home_Patner .mt-150 {
    margin-top: 60px;
  }
  .Home_Patner img {
    margin: 0 10px;
  }
  .Page_Info {
    margin-bottom: -29px;
}
.About_BusinessHistory .fs-40 {
  font-size: 28px;
}
.text-end img{
  margin-top: 30px;
}
.About_OurService .mt-120 {
  margin-top: 70px;
}
.About_OurService .mt-100 {
  margin-top: 50px;
}
.About_OurService .fs-40 {
  font-size: 30px;
}
.About_OurService .myCardItem {
  margin-bottom: 20px;
}
.About_CountZone .mt-120 {
  margin-top: 50px;
}
.About_CountZone .fs-30 {
  font-size: 23px;
}
.About_CountZone .part_2 .wrap{
  padding-bottom: 20px;
}
.mt-100 {
  margin-top: 82px;
}
.About_CountZone .part_3 .mt-80 {
  margin-top: 35px;
}
.About_Testimonial .testimonialSlider {
  padding: 40px 40px 0px 40px;
  width: 369px;
}
.Home_Team .mt-80 {
  margin-top: 20px;
}
.Home_Patner.mb-150 {
  margin-bottom: 56px;
  
}
.About_OverFlow .fs-45 {
  font-size: 30px;
}
.Page_Info h2 {
  font-size: 40px;
  margin-top: 151px;
}

.share.pb-100 {
  padding-bottom: 60px;
}
.BlogSection {
  margin-top: 65px;
}
.Popular_Tags {
  margin-bottom: 50px;
}
.Service_part_1 {
  margin-top: 65px;
}
.Service_part_1 .textFile{
  margin-top: 40px;
}
.Service_part_1  .fs-40 ,
.Service_Price_plan   .fs-40 {
  font-size: 25px;
}
.Service_part_1 .part_2 .mt-150 {
  margin-top: 100px;
}
.Service_part_1 .part_3 .mt-80 {
  margin-top: 32px;
}
.Service_Price_plan {
  min-width: auto;
}
.Service_Price_plan .mt-130 {
  margin-top: 44px;
}
.Service_Price_plan .part_2  .text-center{
  text-align: left !important;
}
.Service_Price_plan .part_2 .col-md-4:nth-child(1),
.Service_Price_plan .part_2 .col-md-4:nth-child(2) {
  border-right: 1px solid rgba(221, 221, 221, 0);
}
.testimonial .wrap{
text-align: left !important;
}
.testimonial .wrap h2{
font-size: 22px;
}
.testimonial .part_2 .imgSection{
width: 100%;
}
.testimonial .part_2 .wrap{
display: block !important;
}
.testimonial .part_2 .imgSection{
/* position: inherit !important; */
}
.slider .imgSection .ImgFile {
display: none !important;
}
.testimonial .mt-80 {
  margin-top: 0px;
}
.testimonial .ml-40 {
  margin-left: 0px;
}
.jRFJkP, .cNNJIt {
  display: none;
}
.subscriber {
  padding-top: 63px;
}
.subscriber .col {
  margin: 0 0;
}
.subscriber .fs-40 {
  font-size: 25px;
}
.formControl {
  width: 100%;
  margin-bottom: 15px;
}

.footer{
  margin-top: 0px;
}
  .footer .mt-150 {
    margin-top: 60px;
  }
  .footer .pt-100 {
    padding-top: 50px;
  }
  .footer .wrap.secondPart {
    margin-top: 40px;
  }
  .footer .Newsletter {
    margin-top: 20px;
  }
 
}
